<footer class="footer">
  <div class="row">
    <div class="col-md-12">
      Copyright 2013. Developed & Designed by <a href="http://meredithunderell.com" target="_blank">Meredith Underell</a>
    </div>
  </div>
</footer>
